<ul id="main-menu" class="main-menu">
	<!-- add class "multiple-expanded" to allow multiple submenus to open -->
	<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
	<li id="sidebar1">
		<a href="index.html">
			<i class="entypo-gauge"></i>
			<span class="title">证券账户管理</span>
		</a>
		<ul>
			<li>
				<a href="index.html">
					<span class="title">用户开户</span>
				</a>
				<ul>
					<li class="active">
						<a href="index.php/Stockaccount/Stockaccount/indexPerson">
							<span class="title">自然人账户开户</span>
						</a>
					</li>
					<li class="active">
						<a href="index.php/Stockaccount/Stockaccount/indexLegal">
							<span class="title">法人账户开户</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="index.php/Stockaccount/Stockaccount/cancelAccount">
					<span class="title">用户注销</span>
				</a>
			</li>
			<li>
				<a href="index.php/Stockaccount/Stockaccount/reportLoss">
					<span class="title">用户挂失/重新开户</span>
				</a>
			</li>
			<li>
				<a href="index.php/Stockaccount/Stockaccount/unlock_index">
					<span class="title">更改账户密码</span>
				</a>
			</li>
		</ul>
	</li>
	<li id="sidebar2">
		<a href="layout-api.html">
			<i class="entypo-layout"></i>
			<span class="title">交易信息查询</span>
		</a>
		<ul>
			<li>
				<a href="index.php/Authentication/Authentication/auth_start">
					<span class="title">信息查询入口</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="index.php/Help/Help/help_index">
			<i class="entypo-help"></i>
			<span class="title">常见问题</span>
		</a>
	</li>
</ul>