<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="" />

	<title>Data Tables</title>
	
	<base href="<?php echo base_url();?>">
	<link rel="stylesheet" href="assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="assets/css/font-icons/entypo/css/entypo.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/neon-core.css">
	<link rel="stylesheet" href="assets/css/neon-theme.css">
	<link rel="stylesheet" href="assets/css/neon-forms.css">
	<link rel="stylesheet" href="assets/css/custom.css">

	<script src="assets/js/jquery-1.11.0.min.js"></script>
	<script>$.noConflict();</script>

	<!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>
<body class="page-body" data-url="http://neon.dev">

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	<div class="sidebar-menu">

		<div class="sidebar-menu-inner">
			
			<header class="logo-env">

				<!-- logo -->
				<div class="logo">
					<a href="index.html">
						<img src="<?php echo base_url(); ?>assets/images/logo@2x.png" width="120" alt="" />
					</a>
				</div>

				<!-- logo collapse icon -->
				<div class="sidebar-collapse">
					<a href="#" class="sidebar-collapse-icon"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
						<i class="entypo-menu"></i>
					</a>
				</div>

								
				<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
				<div class="sidebar-mobile-menu visible-xs">
					<a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
						<i class="entypo-menu"></i>
					</a>
				</div>

			</header>
			
									
			<ul id="main-menu" class="main-menu">
				<!-- add class "multiple-expanded" to allow multiple submenus to open -->
				<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
				<li>
					<a href="index.html">
						<i class="entypo-gauge"></i>
						<span class="title">证券账户管理</span>
					</a>
					<ul>
						<li>
							<a href="index.html">
								<i class="entypo-gauge"></i>
								<span class="title">用户开户</span>
							</a>
							<ul>
								<li class="active">
									<a href="index.php/Stockaccount/Stockaccount/indexPerson">
										<span class="title">自然人账户开户</span>
									</a>
								</li>
								<li class="active">
									<a href="index.php/Stockaccount/Stockaccount/indexLegal">
										<span class="title">法人账户开户</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="index.php/Stockaccount/Stockaccount/cancelAccount">
								<span class="title">用户注销</span>
							</a>
						</li>
						<li>
							<a href="index.php/Stockaccount/Stockaccount/reportLoss">
								<span class="title">用户挂失/解挂</span>
							</a>
						</li>
						<li>
							<a href="skin-black.html">
								<span class="title">用户信息查询</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="active opened active">
					<a href="layout-api.html">
						<i class="entypo-layout"></i>
						<span class="title">交易信息查询</span>
					</a>
					<ul>
						<li>
							<a href="index.php/Authentication/Authentication/auth_start">
								<span class="title">信息查询入口</span>
							</a>
						</li>
						<li>
							<a href="index.php/Authentication/Authentication/auth_start">
								<span class="title">常见问题</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			
		</div>

	</div>

	<div class="main-content">
				
		<div class="row">
		
			<!-- Profile Info and Notifications -->
			<div class="col-md-6 col-sm-8 clearfix">
		
				<ul class="user-info pull-left pull-none-xsm">
		
					<!-- Profile Info -->
					<li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->
		
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="assets/images/thumb-1@2x.png" alt="" class="img-circle" width="44" />
							<?php echo $username; ?>
						</a>
		
						<ul class="dropdown-menu">
		
							<!-- Reverse Caret -->
							<li class="caret"></li>
		
							<!-- Profile sub-links -->
							<li>
								<a href="extra-timeline.html">
									<i class="entypo-user"></i>
									Edit Profile
								</a>
							</li>
		
							<li>
								<a href="mailbox.html">
									<i class="entypo-mail"></i>
									Inbox
								</a>
							</li>
		
							<li>
								<a href="extra-calendar.html">
									<i class="entypo-calendar"></i>
									Calendar
								</a>
							</li>
		
							<li>
								<a href="#">
									<i class="entypo-clipboard"></i>
									Tasks
								</a>
							</li>
						</ul>
					</li>
		
				</ul>
				
			</div>
		
		
			<!-- Raw Links -->
			<div class="col-md-6 col-sm-4 clearfix hidden-xs">
		
				<ul class="list-inline links-list pull-right">
					<li>
						<a href="index.php/Authentication/Authentication/auth_start">
							Log Out <i class="entypo-logout right"></i>
						</a>
					</li>
				</ul>
		
			</div>
		
		</div>
		
		<hr />
		
					<ol class="breadcrumb bc-3" >
								<li>
						<a href="index.html"><i class="fa-home"></i>Home</a>
					</li>
							<li>
		
									<a href="tables-main.html">Tables</a>
							</li>
						<li class="active">
		
									<strong>Data Tables</strong>
							</li>
							</ol>
					
	
		<h3> Stock trading history</h3>
		<br />
		
		<table class="table table-bordered datatable" id="table-3">
			<thead>
				<tr class="replace-inputs">
					<th>Trade id</th>
					<th>Buyer id</th>
					<th>Seller id</th>
					<th>Stock No.</th>
					<th>Time</th>
					<th>Price</th>
					<th>Quatity</th>
					<th>Buy Price</th>
					<th>Sell Price</th>
				</tr>
				<tr>
					<th>Trade id</th>
					<th>Buyer id</th>
					<th>Seller id</th>
					<th>Stock No.</th>
					<th>Time</th>
					<th>Price</th>
					<th>Quatity</th>
					<th>Buy Price</th>
					<th>Sell Price</th>
				</tr>
			</thead>
			<tbody id="tradeRec">
				<!-- <script>
					var arr =eval('<?php echo json_encode($records);?>');
					var appendString="";
					for(var i = 0; i < arr.length; i++ ) {
						
						appendString='
						<tr>
							<td>'+arr[i]['id']+"</td>
							<td>602331</td>
							<td>Buy</td>
							<td>test</td>
							<td>2017/05/10 11:23:00</td>
							<td>6.84</td>
							<td>13000</td>
						</tr>"
						$(tradeRec).append("						
						");
					}
				</script> -->
				
				<?php
					
					foreach($records as $record){
					echo("<tr>");
						foreach($record as $element){
							echo("<td>$element</td>");
						}
					echo("</tr>");
					}
					
				?>
				<!-- <tr class="gradeU">
					<td>19961127621</td>
					<td>602331</td>
					<td>Buy</td>
					<td>test</td>
					<td>2017/05/10 11:23:00</td>
					<td>6.84</td>
					<td>13000</td>
					<td>6.84</td>
					<td>6.84</td>
				</tr>
				<tr class="gradeA">
					<td>19961127123</td>
					<td>600221</td>
					<td>Sell</td>
					<td>admin</td>
					<td>2017/05/10 11:50:00</td>
					<td>3.44</td>
					<td>1000</td>
					<td>6.84</td>
					<td>6.84</td>
				</tr> -->
			</tbody>
			<tfoot>
				<tr>
					<th>Trade id</th>
					<th>Buyer id</th>
					<th>Seller id</th>
					<th>Stock No.</th>
					<th>Time</th>
					<th>Price</th>
					<th>Quatity</th>
					<th>Buy Price</th>
					<th>Sell Price</th>
				</tr>
			</tfoot>
		</table>
		
		<script type="text/javascript">
			jQuery(document).ready(function($)
			{
				var table = $("#table-3").dataTable({
					"sPaginationType": "bootstrap",
					"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
					"bStateSave": true
				});
				
				table.columnFilter({
					"sPlaceHolder" : "head:after"
				});
			});
		</script>
		
		<br />
		
	</div>	

</div>





	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="assets/js/datatables/responsive/css/datatables.responsive.css">
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css">
	<link rel="stylesheet" href="assets/js/select2/select2.css">

	<!-- Bottom scripts (common) -->
	<script src="assets/js/gsap/main-gsap.js"></script>
	<script src="assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
	<script src="assets/js/bootstrap.js"></script>
	<script src="assets/js/joinable.js"></script>
	<script src="assets/js/resizeable.js"></script>
	<script src="assets/js/neon-api.js"></script>
	<script src="assets/js/jquery.dataTables.min.js"></script>
	<script src="assets/js/datatables/TableTools.min.js"></script>


	<!-- Imported scripts on this page -->
	<script src="assets/js/dataTables.bootstrap.js"></script>
	<script src="assets/js/datatables/jquery.dataTables.columnFilter.js"></script>
	<script src="assets/js/datatables/lodash.min.js"></script>
	<script src="assets/js/datatables/responsive/js/datatables.responsive.js"></script>
	<script src="assets/js/select2/select2.min.js"></script>
	<script src="assets/js/neon-chat.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="assets/js/neon-custom.js"></script>


	<!-- Demo Settings -->
	<script src="assets/js/neon-demo.js"></script>

</body>
</html>